*.swp
.idea
.nyc_output
.eslintcache
.jshintrc
.env
.*.deploy.json
README
robots.txt

yarn.lock
package-lock.json
service/screenshot/package-lock.json

bin/git-pre-commit.js
bin/dreload.sh
bin/start*.sh
!bin/start-docker-dev.sh
bin/stop*.sh
bin/stop.sh
bin/dstart.sh
bin/dstop.sh
bin/deploy.sh
bin/cron/lock/*
bin/**/*.lock

invites.conf
invites.dump
invitesAll.dump
invitesFree.dump

promocodes.txt

conf/*.conf
conf/mongo.sh
conf/*.json
conf/watchedTemplates
!conf/log-buzzer.json
conf/billing.tariffs.wl
conf/billing.tariffs.wl.*
conf/billing.tariffs.domains.wl
conf/billing.tariffs.domains.wl.*
conf/billing.tariffs.domains.special

bin/*pid
bin/pids
bin/pidd

dictionaries/IP-COUNTRY-REGION-CITY.BIN
dictionaries/IP-COUNTRY-REGION-CITY.BIN_NEW
dictionaries/IP-COUNTRY-REGION-CITY.BIN_OLD

docs/coverage
dist
dist-*

build
my
log
node_modules
node_modules*
tmp
apidoc
packed_sites
public/img/uploads
public/img/subjects/**/
public/img/subjects.v1
public/img/subjects.v1/**/
!public/img/subjects/**/origin
public/i18n
public/html/special
!public/html/special/archived.html
public/html/freemium
public/uploads
public/sitestatics
public/sitedomains
public/oauth
public/js/requireConf.js

public/**/*.css
!public/css/lib/**/*.css
!public/css/admin/*.css
!public/widgets/icon/icon-packs/**/*.css

public/css/lib/justifiedGallery.css
public/css/lib/owl.css

public/backups
public/publishBackups

public/affiliates/*

# старый вариант (изменять не нужно)
public/js/mainpage/main.min.js
public/js/dashboard/dashboard.min.js
public/js/constructor/app.min.js
public/js/uwizard/app.min.js
public/js/uwizard/app.build.js

# см. gulpfileDeploy.js
public/js/mainpage/main.build.js
public/js/dashboard/dashboard.build.js
public/js/constructor/app.build.js
public/js/neowizard/app.build.js
public/js/lightwizard/app.build.js
public/js/user/auth-forms.build.js

docs/spec/coverage
docs/coverage
docs/book
docs/server-unit-coverage

*.DS_Store
*\*.DS_Store
*/*/*\*.DS_Store
*/*/*/*\*.DS_Store
*/*/*/*/*\*.DS_Store

cache/*
views/_templates
uploads_removed

facebookImp/last_url.txt
ban_sites

public/OneSignalManifest.json

# синхронизация
bin/usync*

_book
.node-inspectorrc
_book

backups/
templates
testsites.gz
ukit-3248
npm-debug.log

usync_storage

views/templates